@import "settings";
@import "foundation";

/* Custom CSS */

header, footer {
	background: #d8d8d8;
}

.clear {
	clear: both;
	display: block;
}

.navigation {
	margin-bottom: 1em;
}

table {
	border: none;
	width: 100%;
}

th, th a {
	text-align: left;
	color: #fff !important;
	background: #666;
}

ul.archives {
	margin-left: 0;
}

.archives li {
	list-style: none;
}

/* Magellan sticky to display in column not in row */

.sub-nav dt, .sub-nav dd, .sub-nav li {
	float: none;
	display: block;
}

.placeholder {
	width: 100%;
	max-height: 400px;
	border: 1px solid #ccc;
	background: #f8f8f8;
	text-align: center;
	padding-top: 25%;
	padding-bottom: 25%;
	margin: .5em 0 1em;
}
/* Elements on the page */

.top-right {
	text-align: right;
}

.top-right ul {
	list-style: none;
}

.search-box input, .search-box a.button {
	height: 36px;
	padding-top: 6px;
}

.orbit-content li div {
    background: #2ba6cb;
    padding: 30px 40px;
}

.post-meta {
	color: #666;
	border-bottom: 1px solid #d8d8d8;
}

@import "extras","animations";  

/* Expandable lists */
@import "expandable-list";

/* Faceted navigation */
@import "faceted-navigation";


// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";
