/*
Syntax error: Undefined mixin 'dropShadow'.
        on line 11 of /Users/davidlittle/Dropbox/htdocs/dh-pattern-library/assets/scss/reveal-panel.scss, in `dropShadow'
        from line 11 of /Users/davidlittle/Dropbox/htdocs/dh-pattern-library/assets/scss/reveal-panel.scss

Backtrace:
/Users/davidlittle/Dropbox/htdocs/dh-pattern-library/assets/scss/reveal-panel.scss:11:in `dropShadow'
/Users/davidlittle/Dropbox/htdocs/dh-pattern-library/assets/scss/reveal-panel.scss:11
/Users/davidlittle/.rvm/gems/ruby-2.0.0-p353@global/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:253:in `visit_mixin'
/Users/davidlittle/.rvm/gems/ruby-2.0.0-p353@global/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/davidlittle/.rvm/gems/ruby-2.0.0-p353@global/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/davidlittle/.rvm/gems/ruby-2.0.0-p353@global/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/davidlittle/.rvm/gems/ruby-2.0.0-p353@global/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/davidlittle/.rvm/gems/ruby-2.0.0-p353@global/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/davidlittle/.rvm/gems/ruby-2.0.0-p353@global/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/davidlittle/.rvm/gems/ruby-2.0.0-p353@global/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/davidlittle/.rvm/gems/ruby-2.0.0-p353@global/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/davidlittle/.rvm/gems/ruby-2.0.0-p353@global/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/davidlittle/.rvm/gems/ruby-2.0.0-p353@global/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/Users/davidlittle/.rvm/gems/ruby-2.0.0-p353@global/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/davidlittle/.rvm/gems/ruby-2.0.0-p353@global/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/davidlittle/.rvm/gems/ruby-2.0.0-p353@global/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/davidlittle/.rvm/gems/ruby-2.0.0-p353@global/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/davidlittle/.rvm/gems/ruby-2.0.0-p353@global/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/davidlittle/.rvm/gems/ruby-2.0.0-p353@global/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/davidlittle/.rvm/gems/ruby-2.0.0-p353@global/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/davidlittle/.rvm/gems/ruby-2.0.0-p353@global/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/davidlittle/.rvm/gems/ruby-2.0.0-p353@global/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/davidlittle/.rvm/gems/ruby-2.0.0-p353@global/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/davidlittle/.rvm/gems/ruby-2.0.0-p353@global/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/davidlittle/.rvm/gems/ruby-2.0.0-p353@global/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/davidlittle/.rvm/gems/ruby-2.0.0-p353@global/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/davidlittle/.rvm/gems/ruby-2.0.0-p353@global/gems/sass-3.2.12/lib/sass/tree/root_node.rb:20:in `render'
/Users/davidlittle/.rvm/gems/ruby-2.0.0-p353@global/gems/sass-3.2.12/lib/sass/engine.rb:315:in `_render'
/Users/davidlittle/.rvm/gems/ruby-2.0.0-p353@global/gems/sass-3.2.12/lib/sass/engine.rb:262:in `render'
/Users/davidlittle/.rvm/gems/ruby-2.0.0-p353@global/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/Users/davidlittle/.rvm/gems/ruby-2.0.0-p353@global/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/davidlittle/.rvm/gems/ruby-2.0.0-p353@global/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/Users/davidlittle/.rvm/gems/ruby-2.0.0-p353@global/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/Users/davidlittle/.rvm/gems/ruby-2.0.0-p353@global/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/Users/davidlittle/.rvm/gems/ruby-2.0.0-p353@global/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/davidlittle/.rvm/gems/ruby-2.0.0-p353@global/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/davidlittle/.rvm/gems/ruby-2.0.0-p353@global/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/Users/davidlittle/.rvm/gems/ruby-2.0.0-p353@global/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/Users/davidlittle/.rvm/gems/ruby-2.0.0-p353@global/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/davidlittle/.rvm/gems/ruby-2.0.0-p353@global/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Users/davidlittle/.rvm/gems/ruby-2.0.0-p353@global/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:147:in `recompile'
/Users/davidlittle/.rvm/gems/ruby-2.0.0-p353@global/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `call'
/Users/davidlittle/.rvm/gems/ruby-2.0.0-p353@global/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `run_callback'
/Users/davidlittle/.rvm/gems/ruby-2.0.0-p353@global/gems/fssm-0.2.10/lib/fssm/path.rb:55:in `callback_action'
/Users/davidlittle/.rvm/gems/ruby-2.0.0-p353@global/gems/fssm-0.2.10/lib/fssm/path.rb:35:in `update'
/Users/davidlittle/.rvm/gems/ruby-2.0.0-p353@global/gems/fssm-0.2.10/lib/fssm/state/directory.rb:39:in `block in modified'
/Users/davidlittle/.rvm/gems/ruby-2.0.0-p353@global/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `each'
/Users/davidlittle/.rvm/gems/ruby-2.0.0-p353@global/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `modified'
/Users/davidlittle/.rvm/gems/ruby-2.0.0-p353@global/gems/fssm-0.2.10/lib/fssm/state/directory.rb:18:in `refresh'
/Users/davidlittle/.rvm/gems/ruby-2.0.0-p353@global/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `block (2 levels) in run'
/Users/davidlittle/.rvm/gems/ruby-2.0.0-p353@global/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `each'
/Users/davidlittle/.rvm/gems/ruby-2.0.0-p353@global/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `block in run'
/Users/davidlittle/.rvm/gems/ruby-2.0.0-p353@global/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:15:in `loop'
/Users/davidlittle/.rvm/gems/ruby-2.0.0-p353@global/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:15:in `run'
/Users/davidlittle/.rvm/gems/ruby-2.0.0-p353@global/gems/fssm-0.2.10/lib/fssm/monitor.rb:26:in `run'
/Users/davidlittle/.rvm/gems/ruby-2.0.0-p353@global/gems/fssm-0.2.10/lib/fssm.rb:70:in `monitor'
/Users/davidlittle/.rvm/gems/ruby-2.0.0-p353@global/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:87:in `perform'
/Users/davidlittle/.rvm/gems/ruby-2.0.0-p353@global/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/Users/davidlittle/.rvm/gems/ruby-2.0.0-p353@global/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/Users/davidlittle/.rvm/gems/ruby-2.0.0-p353@global/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/davidlittle/.rvm/gems/ruby-2.0.0-p353@global/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/davidlittle/.rvm/gems/ruby-2.0.0-p353@global/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
/Users/davidlittle/.rvm/gems/ruby-2.0.0-p353@global/gems/compass-0.12.2/bin/compass:44:in `call'
/Users/davidlittle/.rvm/gems/ruby-2.0.0-p353@global/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
/Users/davidlittle/.rvm/rubies/ruby-2.0.0-p353/bin/compass:23:in `load'
/Users/davidlittle/.rvm/rubies/ruby-2.0.0-p353/bin/compass:23:in `<main>'
/Users/davidlittle/.rvm/gems/ruby-2.0.0-p353/bin/ruby_executable_hooks:15:in `eval'
/Users/davidlittle/.rvm/gems/ruby-2.0.0-p353/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'dropShadow'.\A         on line 11 of /Users/davidlittle/Dropbox/htdocs/dh-pattern-library/assets/scss/reveal-panel.scss, in `dropShadow'\A         from line 11 of /Users/davidlittle/Dropbox/htdocs/dh-pattern-library/assets/scss/reveal-panel.scss"; }
